.flex-container {
  display: flex;
}
.sidebar {
  padding-left: 5%;
}
.menu-section {
  padding: 25px 0;
}
a{    color: #f7941d;}
.green-btn {
  background-color: #29c2e1;
  border-radius: 25px;
  padding: 15px 35px;
  min-width: 145px;
}
.btn {box-shadow: none;
    text-shadow: none;}
.read-btn {
  font-size: 13px;
  background-color: transparent;
  font-weight: 700;
  font-family: 'Raleway' sans-serif;
  color: #ffaf36;
  border-radius: 0px;
  text-transform: uppercase;
  text-align: left;
      box-shadow: none;
    text-shadow: none;
    padding: 14px 25px;
}
.icon {
  display: inline-block;
  background: url("../img/index-sprite.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  margin: auto 0;
}
.oline-support-icon {
  background-position: -5px 0px;
  width: 63px;
  height: 63px;
}
.analyzing-icon {
  background-position: -5px -68px;
  width: 58px;
  height: 49px;
}
.clock-icon {
  background-position: -5px -122px;
  width: 58px;
  height: 58px;
}
.boosting-your-business-icon {
  background-position: -5px -185px;
  width: 57px;
  height: 55px;
}
.services {
  background-color: #eaeff3;
}
.services li {
  position: relative;
  padding-left: 90px;
  margin-bottom: 55px;
}
.services li .icon-block {
  width: 67px;
  height: 67px;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
}
.services li .icon-block:hover {
  background-color: #36a8ff;
}
.services li h3 {
  font-size: 16px;
  color: #1c1c1c;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.services li p {
  color: #55595f;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.partners{border: 1px solid #eaeff3; }
.partners .border {
    width: 181px;
    height: 132px;
    /* border: 1px solid #eaeff3; */
    float: left;
    text-align: center;
    line-height: 132px;
}
.partners .border img {
  padding: 0;
}
.read-btn:hover{box-shadow: none;}
.form-control {
    background-color: transparent;
}
textarea.form-control {
  background-color: transparent;
  border-radius: 0;
  resize: none;
  font-size: 13px;
  border: 1px solid #dde8ea;
  box-shadow: none;
  margin-bottom: 15px;
}
.yellow-btn {
  background-color: #f69b37;
  border-radius: 25px;
  padding: 15px 35px;
}
.navbar {
      background-color: transparent;
    border-color: transparent;
  margin-bottom: 0px;
  padding: 15px 0;
  border-radius: 0;
position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.entry-title a {
    color: #404040;
}

#masthead {position: relative;}
.navbar .navbar-nav li a {
  color: #fff;
}
.navbar .navbar-nav li a:hover {
  color: #ffaf36;
}
.navbar .phone {
font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    margin: 17px 17px 0px;
    display: inline-block;
}


.navbar .icon-call-out {
    font-size: 22px;
    color: #ffaf36;
    margin-right: 12px;
    display: inline-block;
    line-height: 31px;
    /* height: 32px; */
    margin-top: -5px;
    float: left;
}

.navbar-brand {margin-top: -10px;}

.item-preview {
  width: 53px;
  height: 51px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: -65px;
  left: -22px;
  background-size: cover !important;
  display: none;
}
.bg1 {
  background: url("../img/welcome.jpg") center center;
}
.bg2 {
  background: url("../img/welcome.jpg") center center;
}
.bg3 {
  background: url("../img/welcome.jpg") center center;
}
.small-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  bottom: -10px;
  left: 42%;
}
.slider {
  background-color: #000;
}
.carousel-indicators li {
  position: relative;
}
.carousel-indicators li:hover:not(.active) .item-preview {
  display: block;
}
.carousel-caption {
  top: 38%;
  font-family: 'Raleway', sans-serif;
}
.carousel-caption h2 {
  font-size: 48px;
}
.carousel-caption p {
  font-size: 14px;
}
.make-startup,
.clients-about,
.features,
.pricing,
.team,
.what-we-are {
  padding-top: 100px;
}
.make-startup h2,
.clients-about h2,
.features h2,
.pricing h2,
.team h2,
.what-we-are h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin-top: 0px;
}
.make-startup .sub-title,
.clients-about .sub-title,
.features .sub-title,
.pricing .sub-title,
.team .sub-title,
.what-we-are .sub-title {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  color: #23282f;
  padding-bottom: 35px;
}
.make-startup p,
.clients-about p,
.features p,
.pricing p,
.team p,
.what-we-are p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #55595f;
}
.make-startup img,
.clients-about img,
.features img,
.pricing img,
.team img,
.what-we-are img {
  padding-top: 40px;
}
ul {
  list-style-type: none;
}
.icon {
  display: inline-block;
  background: url("../img/index-sprite.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  margin: auto 0;
}
.icon2 {
  display: inline-block;
  background: url("../img/about-us-sprite.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  margin: auto 0;
}
.client-management-icon {
  background-position: -20px 0px;
  width: 45px;
  height: 39px;
}

.blog-title h2 {
    
    
}

.well-analyzing-team-icon {
  background-position: -20px -59px;
  width: 41px;
  height: 33px;
}
.keeping-business-data-icon {
  background-position: -20px -112px;
  width: 38px;
  height: 34px;
}
.boost-your-business-icon {
  background-position: -20px -166px;
  width: 37px;
  height: 32px;
}
.data-entry-icon {
  background-position: -20px -218px;
  width: 36px;
  height: 32px;
}
.better-communication-icon {
  background-position: -20px -270px;
  width: 34px;
  height: 37px;
}
.filtering-business-data-icon {
  background-position: -20px -327px;
  width: 31px;
  height: 38px;
}
.hour-support-icon {
  background-position: -20px -385px;
  width: 29px;
  height: 40px;
}
.business-solutions-icon {
  background-position: -20px -445px;
  width: 27px;
  height: 44px;
}
.team-members-icon {
  background-position: -20px 0px;
  width: 42px;
  height: 30px;
}
.certification-icon {
  background-position: -20px -50px;
  width: 40px;
  height: 40px;
}
.finished-projects-icons {
  background-position: -20px -110px;
  width: 40px;
  height: 41px;
}
.years-in-marketing-icon {
  background-position: -20px -171px;
  width: 40px;
  height: 40px;
}
.services li {
  position: relative;
  padding-left: 90px;
  margin-bottom: 55px;
}
.services li .icon-block {
  width: 67px;
  height: 67px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e5eef0;
  justify-content: center;
}
.services li .icon-block:hover {
  background-color: #f7941d;
}
.services li h3 {
  font-size: 20px;
  color: #23282f;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin: 0;
}
.services li p {
  color: #55595f;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.right-block-services .green-btn {
  margin-left: 130px;
}
.clients-about {
  background-color: #e5eef0;
  padding-bottom: 100px;
}
.clients-about p {
  font-family: 'Lora', serif;
  font-style: italic;
  color: #55595f;
  font-size: 15px;
}
.clients-about .fa-quote-left {
  font-size: 60px;
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 0;
}
.clients-about .author-block {
  padding-top: 30px;
  line-height: 20px;
  font-family: 'Karla', sans-serif;
  padding-left: 100px;
}
.clients-about .author-block p {
  font-style: normal;
}
.clients-about .author-block .author-name {
  color: #f5a24c;
  font-size: 14px;
  font-style: normal;
}

.clients-section .item1 {
    
    width: 33.333%;
    float: left;
    padding: 0 30px;
    margin-bottom: 40px;
    background: url("../img/quote_icon_grey.png") no-repeat 19px 0;
    padding-top: 32px;
    line-height: 28px;
}

.clients-section .profile-wrap .profile-cont {
    float: right;
    padding-left: 21px;
    padding-top: 18px;
    width: 232px;
}

.clients-section .profile-wrap figure {
    border-radius: 50%;
    display: block;
    float: left;
    height: 68px;
    overflow: hidden;
    width: 68px;
}

.clients-section .profile-wrap .profile-cont strong {
    color: #1c1c1c;
    display: block;
    font-family: "Raleway",sans-serif;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.clients-section h2 {
    font-size: 30px;
    color: #1c1c1c;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
}

.heading-wrap span {
    color: #1c1c1c;
    font-size: 16px;
    font-family: 'Lora', serif;
    font-style: italic;
    padding-top: 10px;
    display: block;
}


.no-padding-left {
  padding-left: 0px;
}
.no-padding-right {
  padding-right: 0px;
}
.border {
  border-bottom: 1px solid #e5eef0;
}
.triangle {
  width: 0;
  height: 0;
  border-style: solid;
}
.triangle-green {
  border-width: 0 53px 79px 53px;
  border-color: transparent transparent #29c2e1 transparent;
  position: absolute;
  left: -130px;
  bottom: -109px;
}
.triangle-yellow {
  border-width: 0 68px 109px 68px;
  border-color: transparent transparent #f69a37 transparent;
  position: relative;
}
.pricing {
  padding-bottom: 95px;
}
.pricing-item {
  border: 1px solid #e6edee;
  margin: 0 5px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
.pricing-item p {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  border-top: 1px solid #e6edee;
  border-bottom: 1px solid #e6edee;
  margin-bottom: 0;
  padding: 25px;
  flex-basis: 100%;
}
.pricing-item h4 {
  font-size: 20px;
  padding-top: 35px;
}
.pricing-item ul {
  padding: 40px 0 0 0;
  flex-basis: 200px;
  margin-bottom: 32px;
}
.pricing-item ul li {
  color: #55595f;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 36px;
}
.pricing-item .green-btn {
  align-self: center;
  margin-bottom: 35px;
}
.pricing-item:hover {
  border: 1px solid #e6edee;
  box-shadow: 0 0 100px rgba(228,233,237,0.75);
}
.price-value {
  color: #f7941d;
}
.no-padding {
  padding: 0;
}
.recommend {
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/recommend.png");
  width: 93px;
  height: 94px;
}
.team {
  background-color: #e5eef0;
  padding-bottom: 95px;
}
.team ul {
  padding-left: 0;
}
.team img {
  padding-top: 0px;
  width: 100%;
}
.team .col-md-3>div {
  margin: 0 10px 0 0;
}
.team-description {
  padding: 30px 0 35px 30px;
  background-color: #fff;
}
.team-description h5 {
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #23282f;
}
.team-description p {
  color: #f69b37;
}
.team-description i {
  color: #adbdc1;
  font-size: 14px;
}
.free-service {
  padding-top: 80px;
}
.free-service .title-service {
  font-family: 'Raleway', sans-serif;
  color: #23282f;
  font-size: 30px;
  font-weight: 500;
}
.free-service span {
  color: #f69b37;
}
.free-service .free-service-descript {
  color: #59686c;
  font-size: 13px;
  font-weight: 400;
}
.free-service .green-btn {
  margin-right: 25px;
}
.free-service .all-buttons {
  padding: 38px 0 100px;
}
footer.site-footer {
  background-color: #2a2b2c;
  padding: 20px 0;
}
footer.site-footer p {
  color: #8e8e8e;
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding: 15px 0 0 15px;
}
footer.site-footer .fa {
  border: 1px solid #373839;
  color: #8a8a8a;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  padding: 3px 12px;
}
footer.site-footer h3 {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 5px;
  padding-top: 0;
}
footer.site-footer ul{
  padding-left: 0;
  margin-left: 0;
}
footer.site-footer ul li {
  padding-bottom: 5px;
}

footer.site-footer ul li a {
  color: #7b7b7c;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}
.copyright {
  font-family: 'Karla', sans-serif;
  color: #93a1a7;
  font-size: 14px;
  font-weight: 400;
  line-height: 35px;
  padding-top: 15px;
  margin: 0;
  padding-bottom: 35px;
}
.big-yellow-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 150px 0 0 253px;
  border-color: transparent transparent transparent #f69a37;
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer.site-footer-nav {
  position: relative;
}
.footer.site-footer-nav ul {
  padding-left: 0px;
}
.footer.site-footer-nav ul li {
  color: #93a1a7;
  font-family: 'Karla', sans-serif;
  line-height: 35px;
}
.footer.site-footer-nav ul span {
  color: #3e4146;
  font-family: 'Karla', sans-serif;
}
.big-green-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 175px 301px;
  border-color: transparent transparent #29c2e1 transparent;
  position: absolute;
  right: 0;
  bottom: 0;
}
.img-pag img {
  padding: 0px 15px;
}
.clients-descrip {
  position: relative;
}
.clients-descrip p {
  padding-left: 100px;
}
#quote-carousel2 .carousel-inner {
  padding-bottom: 30px;
}
#quote-carousel2 .carousel-indicators {
  margin-bottom: 0;
  bottom: 0;
}
#quote-carousel2 .carousel-indicators li {
  background: #b3cacf;
  border: 0 !important;
  width: 12px;
  height: 12px;
  margin: 0;
}
#quote-carousel2 .carousel-indicators .active {
  background: #29c2e1;
}
#quote-carousel2 {
  margin-top: 75px;
  margin-left: 41px;
  padding-left: 13px;
  border-left: 1px solid #d7e3e6;
}
.what-we-are .border {
  padding-bottom: 70px;
}
.what-we-are .col-md-6 div {
  padding: 0 40px 0 0;
}
.home-header-one .read-more {
    background: transparent;
    color: #ffaf36;
    font-weight: 700;
    border: 2px solid #ffaf36;
    padding: 0 36px;
    line-height: 48px;
    letter-spacing: 1px;
}
.about-us {
  background-image: url("../img/about-us.png");
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  padding-top: 125px;
  padding-bottom: 125px;
}
.about-us h2 {
  font-size: 48px;
  font-weight: 700;
}
.about-us p {
  font-size: 14px;
  font-weight: 400;
}
.statistics {
  font-family: 'Karla', sans-serif;
  padding: 68px 0;
}
.statistics h3 {
  color: #23282f;
  font-weight: 400;
  line-height: 45px;
  font-size: 60px;
}
.statistics p {
  font-size: 14px;
}
.features .border-about {
  padding-bottom: 100px;
  border-bottom: 1px solid #e5eef0;
}
.icon-2-block {
  margin-top: -23px;
}

.blog h3 {
  padding-top: 40px;
}
.blog .detail p {
  padding: 0;
}
.blog .detail h5 {
  font-family: 'Karla', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #23282f;
}
.blog .detail h5 span {
  color: #f7941d;
}
.blog .blog-heading li {
  color: #23282f;
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
}
.blog .blog-heading li:before {
  content: '\2714';
  color: #f7941d;
  padding: 15px;
}
.blog .author-description {
  background-color: #e3eef0;
  padding: 36px 0 36px 42px;
}
.comments {
  border-top: 1px solid #e5eef0;
  margin-top: 85px;
}
.comments .flex-container {
  justify-content: space-between;
}
.comments .flex-container span a {
  color: #f7941d;
}
.comments .comment-item {
  padding: 40px 0;
  border-bottom: 1px solid #e5eef0;
}
.comments .comment-item p {
  padding: 0;
}
.comment-form-block h3 {
  padding-top: 60px;
  padding-bottom: 20px;
}
.comment-form-block .green-btn {
  margin-top: 15px;
}
.form-comment .form-control {
  font-size: 13px;
  padding: 10px 92px 10px 15px;
  height: initial;
  border-radius: 0px;
  border: 1px solid #dde8ea;
  box-shadow: none;
  background-color: #e3eef0;
}
aside .form-control {
  position: relative;
  border-radius: 0;
  height: 43px;
  width: 75%;
}
aside .fa-search {
  position: absolute;
  right: 120px;
  top: 15px;
}
aside .cat-title {
  font-size: 20px;
  color: #23282f;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  padding: 25px 0;
}
aside .cat {
  padding-left: 0;
}
aside .cat li {
  position: relative;
  list-style-type: none;
}
aside .cat li:hover .fa-angle-right {
  color: #f7941d;
}
aside .cat a {
  color: #55595f;
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
}
aside .cat a:hover {
  color: #f7941d;
  text-decoration: none;
}
aside .cat .fa-angle-right {
  position: absolute;
  top: 8px;
  left: 70%;
}
aside .popular-posts {
  padding-left: 0;
}
aside .popular-posts li {
  padding: 15px 0;
}
aside .popular-posts h4 {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  color: #23282f;
  font-size: 15px;
}
aside .popular-posts p {
  color: #f7941d;
  font-size: 14px;
  padding: 0;
}
aside .popular-posts p span {
  color: #55595f;
  font-size: 14px;
}
aside .tag-item {
  background-color: #29c2e1;
  font-family: 'Karla', sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding: 15px 0;
  margin-right: 10px;
  margin-bottom: 10px;
}
aside .tag-item a {
  color: #fff;
  text-decoration: none;
}
.blog article {
  padding: 60px 0;
  border-bottom: 1px solid #e5eef0;
}
.blog article:first-child {
  padding-top: 0;
}
audio {
  width: 100%;
}
.pagination>li>a,
.pagination>li>span {
  background-color: #29c2e1;
  color: #fff;
  margin: 0 3px;
  border: none;
  padding: 11px 17px;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  margin-bottom: 5px;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #f7941d;
  border-color: #f7941d;
}
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  color: #fff;
  background-color: #f7941d;
}

.post-thumb { margin-bottom: 15px; }

footer.site-footer .footer-contact-form .form-group{
    margin: 0;
}

footer.site-footer .widget-title {
    color: #fff;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 5px;
}

footer.site-footer .footer-contact-form input, textarea.form-control{
    
    border: 1px solid #373839;
    border-radius: 0;
}

textarea.form-control{border-top: 0;}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (max-width: 991px) {
  .navbar-header {
    flex-basis: 100%;
  }
  .nav>li,
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    font-size: 11px;
  }
  .blog .author-description {
    padding: 36px;
    text-align: center;
  }
  .comments .comment-item {
    text-align: center;
  }
  .comments .flex-container {
    flex-wrap: wrap;
  }
  .comments .comment-item p {
    margin-top: 10px;
    flex-basis: 100%;
  }
  .comments .comment-item span {
    flex-basis: 100%;
  }
  .form-comment .no-padding-right {
    padding-right: 15px;
  }
  .form-comment .no-padding-left {
    padding-left: 15px;
  }
  .form-comment textarea.form-control {
    padding: 10px;
  }
  form.form-comment,
  .make-startup {
    text-align: center;
  }
  .comment-form-block .green-btn {
    margin-bottom: 15px;
  }
  aside .form-control {
    width: 100%;
  }
  aside .fa-search {
    right: 30px;
  }
  .big-green-triangle {
    display: none;
  }
  footer.site-footer .sign-up-form .form-control {
    padding: 10px;
  }
  .sign-up-form.form-inline > .form-group {
    width: 70%;
    float: left;
  }
  .contact,
  .carousel-caption.text-uppercase,
  .clients-about {
    display: none;
  }
  .right-block-services .green-btn {
    margin: 10px 0;
  }
  .make-startup img,
  .clients-about img,
  .features img,
  .pricing img,
  .team img,
  .what-we-are img {
    padding-bottom: 40px;
  }
  section ul {
    padding: 0;
  }
  .pricing-item {
    margin-bottom: 20px;
  }
  .free-service .green-btn {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .what-we-are .col-md-6 div {
    padding: 0;
  }
}
